header {
    padding: 20px 35px;
    background-color:#39a6b2;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;  
    display:inline;
}
header a{
    color:yellow;
    text-decoration:none;
}
header nav {
    font-weight:lighter;
    float: right;
    margin: 7px 0;
}
footer a {
    color:blue;
}
header nav ul li{
display: inline;
margin 0 30px;
padding: 20px;
font-weight:lighter;
font-size:22px;
}
*{
    margin: 0;
    padding: 0;
}